NODE_ENV=production
PORT=4200

DATABASE_URL=postgresql://eventhub_user:CHANGE_ME@127.0.0.1:5432/eventhub?schema=public
REDIS_URL=redis://127.0.0.1:6379

JWT_SECRET=CHANGE_ME_LONG_SECRET
INVITE_SECRET=CHANGE_ME_LONG_SECRET

FRONTEND_URL=https://eventhub.omi.bz
FRONTEND_URLS=https://eventhub.omi.bz
COOKIE_DOMAIN=eventhub.omi.bz
BACKEND_PUBLIC_URL=https://eventhub.omi.bz

ARC_GIS_API_KEY=

SMTP_SERVER=
SMTP_LOGIN=
SMTP_PASSWORD=

INFOBIP_API_KEY=
INFOBIP_API_URL=
INFOBIP_WHATSAPP_NUMBER=
